body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  .Register {
    width: 540px;
    height: 700px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  
    .log-wappers {
      width: 100%;
      padding: 40px;
  
      h2 {
        font-size: 2em;
        color: #162938;
        text-align: center;
      }
      .input-box {
        position: relative;
        width: 100%;
        height: 50px;
        border-bottom: 2px solid #162938;
        margin: 30px 0;
  
        label {
          position: absolute;
          top: 50%;
          left: 5px;
          transform: translateY(-50%);
          font-size: 20px;
          color: #162938;
          font-weight: 500;
          pointer-events: none;
          transition: 0.5s;
        }
        input:focus ~ label,
        input:valid ~ label {
          top: -5px;
        }
        input {
          width: 100%;
          height: 100%;
          background: transparent;
          border: none;
          outline: none;
          font-size: 20px;
          color: #162938;
          font-weight: 600;
          padding: 0 35px 0 5px;
        }
        .icon {
          position: absolute;
          right: 8px;
          font-size: 20px;
          color: #162938;
          line-height: 57px;
        }
      }
      .remember {
        font-size: 20px;
        color: #162938;
        font-weight: 500;
        label input {
          accent-color: #162938;
          margin-right: 3px;
        }
        
      }
      .btn {
        width: 100%;
        height: 45px;
        background-color: #162938;
        border: none;
        outline: none;
        border-radius: 6px;
        cursor: pointer;
        font-size: 20px;
        color: white;
        font-weight: 500;
        margin-top: 15px;
      }
      .btn:hover {
        color: #162938;
        background-color: white;
      }
      .submit {
        display: flex;
        justify-content: center;
        font-weight: 500;
        margin: 10px;
  
        p {
          color: #162938;
          font-size:18px;
          font-weight: 500;
        }
        .register {
          border: none;
          outline: none;
          font-weight: 600;
        }
        .register:hover{
          text-decoration: underline;
          cursor: pointer;
        }
      }
    }
  }
  