.share {
  width:100%;
  height: 160px;
  border-radius: 10px;
  box-shadow: 7px 7px 11px -5px rgba(0, 0, 0, 0.61);
  -webkit-box-shadow: 7px 7px 11px -5px rgba(0, 0, 0, 0.61);
  -moz-box-shadow: 7px 7px 11px -5px rgba(0, 0, 0, 0.61);

  .shareWrapper {
    padding: 17px;

    .shareTop {
      display: flex;
      align-items: center;

      img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        object-fit: cover;
        margin-right: 10px;
      }
      .shareTopText {
        border: none;
        width: 80%;
        font-size: 16px;
      }
      .shareTopText:focus {
        outline: none;
      }
    }
    .shareTopHr {
      margin: 20px;
    }

    .shareBottom {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .shareOptions {
        display: flex;
        margin-left: 20px;

        .shareOption {
          display: flex;
          align-items: center;
          margin-right: 15px;
          cursor: pointer;

          .shareIcons {
            font-size: 18px;
            margin-right: 3px;
          }
          .tomato{
            color: tomato;
          }
          .blue{
            color: blue;
          }
          .green{
            color:green;
          }
          .goldenrod{
            color: goldenrod;
          }

          .shareText {
            font-size: 14px;
            font-weight: 500;
          }
        }
       
      }
    }
    .shareButton{
        border: none;
        padding: 7px;
        border-radius: 5px;
        background-color: green;
        font-weight: 500;
        margin-right: 20px;
        cursor: pointer;
        color: white;
    }
  }
}
